[Unit]
Description=Startup Script
After=network.target

[Service]
ExecStart=/root/cncstartup.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target